ul li.west, ul li.east {
    width: 91.5px;
    height: 40px;
    margin: 4px;
    padding: 4px;
    display: flex;
    justify-content: flex-start;
    border: 2px solid var(--alt-bg);
    background-color: floralwhite;
}

.LogoWrapper {
    display: flex;
    width: 120px;
}

.EastByesWrapper .LogoWrapper {
    flex-direction: row;
}

.WestByesWrapper .LogoWrapper {
    flex-direction: row-reverse;
}

.watermark {
    max-height: 100%;
    width: 100%;
    opacity: 0.4;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
}
