.bye-team-wrapper {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 5px auto;
}

.bye-team-wrapper > .name {
	display: none;
}

.bye-team-wrapper:nth-child(2n) {
	display: flex;
}

.user-picks {
	width: 85%;
	display: flex;
	flex-direction: row;
}

.user-picks ul li .bye-team-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.team-name {
	width: 30vw;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	position: relative;
	left: 30vw;
	margin: 30px 10px;
	overflow-x: hidden;
}

.team-name-placeholder {
	font-size: 1.4rem;
	margin: 30px 0;
}

.bye-seed {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	font-size: 1.2rem;
	margin: 7px;
}

/* .points {
	font-weight: ;
} */

li {
	display: grid;
	grid-column-gap: 50px;
}

.leaders {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.leaders li {
	font-size: 1.5rem;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: calc(50vw - 150px);
}

.leaders li > div {
	font-weight: bold;
	padding: 4px;
}

.leaders li:nth-child(2n) {
	background-color: var(--main-bg);
}

.user-name {
	font-weight: bold;
	font-size: 2.2rem;
	margin: 10px auto;
}

.round-robin, .team-points {
	width: 230px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-weight: bold;
	font-size: 1.3rem;
	margin: 5px auto;
}
