section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
}

.drag-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.drag-container .team-wrapper, .droppable .team-wrapper {
    cursor: grab;
}

.drag-container > div {
    margin-top: 100px;
    position: absolute;
    width: 200px;
    height: auto;
    top: -100px;
    display: flex;
    flex-direction: column;
}

.drag-east, .drag-west {
    margin-top: 70px;
    /* height: auto; */
    min-height: 450px;
}

.drag-west {
    left: -20vw;
}

.drag-east {
    right: -20vw;
}

.header {
    font-size: 1.7rem;
    font-weight: 700;
    font-variant: small-caps;
}

.small-header {
    font-size: 1.2rem;
}

.drop-container {
    border: 2px solid black;
    border-radius: 2px;
    height: 408px;
    margin-top: 30px;
}

.drop-container .droppable {
    position: relative;
    width: 200px;
    height: 95px;
    right: 0;
    top: 10;
    border-bottom: 2px dotted black;
    padding-bottom: 5px;
}

.drop-container .droppable:nth-child(4) {
    border-bottom: none;
}

.team-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    background-color: var(--alt-bg);
    border-radius: 1px;
    text-align: left;
    align-items: center;
    color: var(--alt-text);
    margin: 0 0 15px;
    max-width: 200px;
    min-width: 50px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.seed {
    border: 1px solid white;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 50px;
    color: black;
    background-color: white;
    margin-right: 3px;
}

.team-logo {
    max-height: 40px;
    margin: auto;
}

@media screen and (max-width: 850px) { 
    .team-wrapper {
        width: 110px;
    }

    .bye-team-round {
        width: 60vw;
        justify-content: center;
    }

    .qualifying-round {
        width: 80vw !important;
        margin: 10px auto;
        justify-content: space-around;
    }

    .align-right {
        text-align: left;
    }

    .droppable {
        width: 120px !important;
    }

    .drag-west {
        left: -25vw !important;
    }

    .drag-east {
        position: absolute;
        left: 30px;
    }
}

