.PlayoffTreeWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 90px;
    padding: 15px;
    background-color: var(--main-bg);
    color: var(--main-text);
    border: 8px solid var(--alt-bg);
}

.PlayoffTreeWrapper section {
    text-align: left;
    display: flex;
    flex-direction: row;
    /* width: 96%;
    margin: 4px 2%; */
}

.ByeRound {
    min-width: 800px;
    justify-content: space-around;
    width: 98%;
    padding: 20px 0;
    margin: 20px 0;
}

.ByeRound .WestByesWrapper {
    display: flex;
}

.ByeRound > div {
    display: flex;
    flex-direction: column;
}

.ByeRound > div > div {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 60px;
}

.ByeRound ul li {
    margin-bottom: 0;
}

section.PlayoffTree {
    justify-content: space-between;
    margin: 30px 15px;
}
