

.PlayoffTreeWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 90px;
    padding: 15px;
    background-color: var(--main-bg);
    color: var(--main-text);
    border: 8px solid var(--alt-bg);
}

.PlayoffTreeWrapper section {
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: 4px 2%;
}

.ByeRound {
    justify-content: space-around;
}

.ByeRound ul li {
    margin-bottom: 0;
}

section.PlayoffTree {
    justify-content: space-between;
    margin: 30px 15px;
}
