@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');

body {
  min-width: 850px;
  height: 100%;
}

main {
  display: grid;
  background-color: var(--main-bg);
  grid-template-columns: minmax(100%, 20%);
  text-align: center;
  font-family: 'Karla', sans-serif;
  position: relative;
  min-width: 850px;
  margin-top: 0;
  height: 100%;
  /* font-family: 'Rubik', sans-serif; */
}

:root {
  --main-bg: #ffffff;
  --alt-bg: #637282;
  --alt-bg-opaque: rgba(99, 114, 130, 0.75);
  --main-text:  #1b2733;
  --alt-text:  #ffffff;
  --header-text: #ffffff;
  --button: #AB24A1;
  --eligible-drop: #00ff99;
}


/* 🎨 colors: #ffffff | #1b2733 | #637282 | #AB24A1 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  /* width: 100vw; */
  background-color: var(--alt-bg-opaque);
  font-size: 1.7rem;
  color: var(--header-text);
  margin: 20px 0;
  padding: 20px 5px;
}

h2.round-robin {
  margin-top: 0;
}

h3 {
  color: var(--alt-bg);
  font-size: 1.6rem;
  margin: 50px 0 0;
  padding: 5px;
  width: auto;
}

button {
  background-color: var(--button);
  cursor: pointer;
  color: white;
  min-width: 100px;
  max-width: 300px;
  height: 40px;
  margin: 30px auto;
  border-radius: 4px;
  font-size: 1.3rem;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.logo {
  height: 70px;
  pointer-events: none;
  position: absolute;
  left: 15px;
  top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .Nhl-logo {
    animation: nhl-logo-spin infinite 60s linear;
  }
}

.left-aside, .right-aside {
  background-color: var(--alt-bg);
  position: absolute;
  z-index: 10;
  top: 0;
  height: 200%;
  width: 90px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-aside {
  left: 0;
}

.right-aside {
  right: 0;
}

@media screen and (max-width: 1050px) { 
  aside {
      display: none !important;
  }
  .drag-west {
    position: absolute;
    left: 0;
  }
  .drag-east {
    position: absolute;
    right: 0;
  }
}


@keyframes nhl-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(5deg);
  }
  46% {
    transform: rotate(175deg);
  }
  54% {
    transform: rotate(185deg);
  }
  55% {
    transform: rotate(355deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
